

.main {
    background-color: #fff;
    /* min-height: 80vh; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 7%;
    min-width: auto;
    min-height: 400px;
    width: fit-content;
    height: fit-content;
}

.landingPage-image {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    
}



.landingPage-btn {
    
    background-color: #9b4922 !important;
    color: #fff !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px !important;
    margin-bottom: 25px;
    
}

.landingPage-btn:hover {
    background-color: #C88a36  !important;
    color: white !important;
}

