.body {
    background-color: #9b4922  !important;
}

.header-logo {
    margin: 20px;
}

.register-form {
    background-color: white;
    border-color: #C88a36;
}

form.group {
    margin: auto;
    width: 75%;
    border: 3px solid #C88a36;
    padding: 10px;
  }
  

.register-btn {
    background-color: #d8a790 !important;
    color: #fff !important;
    border: none !important;
}

.register-btn:hover {
    background-color: #C88a36 !important;
    color: white !important;
}

.message {
    padding-top: 0;
    padding-bottom: 10px;
}