.header-body {
    background-color: #d8a790!important;
    padding: 10px;
    height: 150px;
    
}

.header-logo {
    margin-top: auto;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px;
}